body {
    font-family: Arial, sans-serif;
    background-color:white;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    color:black;
    background-color: #fff;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 15px;
    text-align: center;
    margin-left: 3%;color: black;
  }
  
  form {
    display: flex;
    flex-direction: column;
   
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: rgba(128, 255, 0, 0.156);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: red;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .options label {
    margin-bottom: 10px;
  }
  
  .results {
    margin-top: 20px;
    text-align: center;
  }
  